---
const { data } = Astro.props;
---

<style>
    a {
        text-decoration: none;
        color: inherit;
    }
</style>
<div
    class="col-12 col-md-6 col-lg-4 project-card cursor-pointer zoom mt-4"
    data-project={JSON.stringify(data)}
    data-id={data.id}
>
    <a href={`/project-details/${data.project_name}`}>
        <div
            class="secondary-bg-color circular-border-sm p-2 p-lg-4 h-100 d-flex flex-column justify-content-between" style="border:1px solid gray"
        >
            <div>
                <img
                    src={"/assets/images/projects_imgs/" + data.banner_img}
                    alt={data.project_name}
                    class="img-fluid"
                />
                <p class="project-grid-name">
                    {data.project_name}
                    <!-- <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            const projectCards =
                                document.querySelectorAll(".project-card");
                            projectCards.forEach((card) => {
                                card.addEventListener("click", (event) => {
                                    const projectData = (
                                        event.currentTarget as HTMLElement
                                    ).getAttribute("data-project");
                                    if (projectData) {
                                        const project = JSON.parse(projectData);
                                        window.location.href = `/project-details?id=${project.id}`;
                                    }
                                });
                            });
                        });
                    </script> -->
                </p>
            </div>

            <p class="project-grid-desc">
                {data.slogan}
            </p>
        </div>
    </a>
</div>
