---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { readFile } from "fs/promises";
import { promises as fs } from "fs";
import path from "path";
import type { IProductsData } from "../index.astro";
import { GraphQLClient } from "graphql-request";
const { productdetails } = Astro.params;


// Create a new GraphQL client with the Hygraph endpoint
const client = new GraphQLClient(import.meta.env.ASTRO_HYGRAPH_ENDPOINT);

// Fetch the data via the GraphQL query
const { products: assets }: { products: Array<IProductsData> } = await client.request<{
  products: Array<IProductsData>;
}>(`
  query Products($name: String!) {
    products(where: { name: $name }) {
      product_id
      name
      price
      details
      image {
        url
      }
    }
  }
`, {
  name: productdetails 
});



export async function getStaticPaths() {
    const filePath = path.join(
        process.cwd(),
        "public/assets/jsondata",
        "products.json",
    );

    try {
        const fileContent = await fs.readFile(filePath, "utf-8");
        const ProductsData = JSON.parse(fileContent.toString());
        const paths = ProductsData.map((product: IProductsData) => ({
            params: { productdetails: product.name.toString() },
        }));
        return paths;
    } catch (error) {
        console.error("Error reading Products.json file:", error);
        throw new Error("Failed to read Products data");
    }
}

---

<BaseLayout>

    
    <div class="row mx-4 mx-lg-0" style="margin-top:10vh">
        <div class="col-sm-12 col-lg-8 offset-lg-2">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <img
                        src={assets[0]?.image.url}
                        alt={assets[0]?.name}
                        class="img-fluid"
                    />
                </div>
                <div class="col-sm-12 col-lg-6" style="color:black">
                    <div class="row">
                        <div class="col-12">
                            <h1>{assets[0]?.name}</h1>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 details" set:html={assets[0]?.details}>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="margin-top:5vh">
                            <h3>Rs. {assets[0]?.price}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>
