---
import { Icon } from "astro-icon/components";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { readFile, writeFile } from "fs/promises";
import { promises as fs } from "fs";
import path from "path";
import { type IProjectsData } from "../projects.astro";

const ProjectsDataPath = path.join(
    process.cwd(),
    "public/assets/jsondata",
    "projects.json",
);
const ProjectsDataBuffer = await readFile(ProjectsDataPath);
const ProjectsData: Array<IProjectsData> = JSON.parse(
    ProjectsDataBuffer.toString(),
) as Array<IProjectsData>;

export async function getStaticPaths() {
    const filePath = path.join(
        process.cwd(),
        "public/assets/jsondata",
        "projects.json",
    );

    try {
        const fileContent = await fs.readFile(filePath, "utf-8");
        const projectsData = JSON.parse(fileContent.toString());
        const paths = projectsData.map((project: IProjectsData) => ({
            params: { projectdetails: project.project_name.toString() },
        }));
        return paths;
    } catch (error) {
        console.error("Error reading projects.json file:", error);
        throw new Error("Failed to read projects data");
    }
}

const { projectdetails } = Astro.params;
const project = ProjectsData.find(
    (p) => p.project_name.toString() === projectdetails,
);
---

<BaseLayout showBottomNavigation={false}>
    {
        project ? (
            <div
                class="row d-flex justify-content-center p-4 p-lg-0"
                style="margin-bottom:5%"
            >
                <div class="col-sm-8 monitor p-4">
                    <div class="monitor-screen h-100">
                        <div class="row p-2 ms-2 pt-0 h-100 d-flex flex-column">


                            <div class="row">
                                <div
                                    class="col-12 p-0 my-2 d-flex"
                                    style="height:30px"
                                >
                                    <div class="col-sm-10 h-100 d-flex align-items-center project-details-text primary-bg-color circular-border px-4 flex-grow-1">
                                        <Icon
                                            name="Search"
                                            class="text-white me-3"
                                            style="transform:scale(1.5)"
                                        />
                                        {project.project_name}
                                    </div>
                                    <div class="d-flex align-items-center ms-1 me-3 justify-content-center">
                                        <div
                                            class="bg-danger circular-border p-2 d-flex justify-content-center cursor-pointer"
                                            id="cancel"
                                        >
                                            <Icon
                                                name="Cancel"
                                                class="text-white"
                                                style="transform:scale(1)"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row d-lg-flex flex-lg-grow-1">
                                <div class="col-xs-12 col-xl-8 p-0 d-flex flex-column justify-content-between">
                                    <div class="row">
                                        <img
                                            src={`/assets/images/projects_imgs/${project.banner_img}`}
                                            alt=""
                                            id="main-img"
                                            class="project-imgs circular-border-md"
                                        />
                                    </div>
                                    <div class="row bg-white mx-1 circular-border-md mt-2 mt-xl-0">
                                        <hr class="mt-4 text-dark" />
                                        <div
                                            class="row d-flex justify-content-around "
                                            style="overflow-x: hidden;"
                                        >
                                            {project.images.map((img) => (
                                                <div class="col-2 images">
                                                    <img
                                                        data-project={img}
                                                        src={`/assets/images/projects_imgs/${img}`}
                                                        alt=""
                                                        class="project-imgs circular-border-sm cursor-pointer"
                                                    />
                                                </div>
                                            ))}
                                        </div>
                                        <hr class="mb-4 mt-4 text-dark" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-xl-4 mt-2 mt-xl-0 bg-white h-xl-100 circular-border-md">
                                    <h4 class=" secondary-text mt-4">
                                        <b>{project.project_name}</b>
                                    </h4>
                                    <p class="secondary-text">
                                        <i>{project.slogan}</i>
                                    </p>
                                    <p
                                        class="project-details-text secondary-text"
                                        style="text-align: justify;"
                                    >
                                        {project.details}
                                    </p>
                                    <hr class="mt-4 text-dark" />
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-12">
                                            <h6 class="mt-1 secondary-text">
                                                Tech Stack used:
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-12">
                                            <div class="row ms-1">
                                                {project.tech_stack.map(
                                                    (skill: string) => (
                                                        <div class="skill-name text-dark project-details-text dart-text-bg-color w-auto mx-1 mb-2">
                                                            {skill}
                                                        </div>
                                                    ),
                                                )}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        ) : (
            <div>Project not found</div>
        )
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".images").forEach((element) => {
                element.addEventListener("click", function (event) {
                    const mainImg = document.getElementById(
                        "main-img",
                    ) as HTMLImageElement;
                    const imgPath = (event.target as HTMLElement).getAttribute(
                        "data-project",
                    );
                    if (mainImg && imgPath) {
                        mainImg.src = `/assets/images/projects_imgs/${imgPath}`;
                    }
                });
            });

            document
                .getElementById("cancel")!
                .addEventListener("click", function (event) {
                    window.location.href = "/#projects";
                });
        });
    </script>
</BaseLayout>
